In [55]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import gc

from pathlib import Path

import os

In [56]:
node = 'lotus'

In [19]:
#Nodes list with subscribed topics
#UNL
data = {'node': [
                'slotus',
                'scaterham',
                'sligier',
                'sminardi',
                'ssauber',
                'sbrawn',
                'stoleman',
                'sbenetton',
                'vlotus',
                'vcaterham',
                'vligier',
                'vminardi',
                'vsauber',
                'vbrawn',
                'vtoleman',
                'vbenetton',
                'lotus',
                'caterham',
                'ligier',
                'minardi',
                'sauber',
                'brawn',
                'toleman',
                'benetton'],
        'unl': [
                'red',
                'fucsia',
                'pink',
                'cyano',
                'green',
                'blue',
                'cyano',
                'green',
                'orange',
                'yellow',
                'blue',
                'orange',
                'red',
                'green',
                'blue',
                'pink',
                'yellow',
                'orange',
                'fucsia',
                'cyano',
                'fucsia',
                'red',
                'yellow',
                'pink',
                ]
        }

df = pd.DataFrame(data)
df.head(10)

        node     unl
0     slotus     red
1  scaterham  fucsia
2    sligier    pink
3   sminardi   cyano
4    ssauber   green
5     sbrawn    blue
6   stoleman   cyano
7  sbenetton   green
8     vlotus  orange
9  vcaterham  yellow

In [14]:
unls = pd.DataFrame()
directory = os.fsencode('/home/flav/gossip/gossipGoSnt/clusterConfig/unl/')

for file in os.listdir(directory):
    filename = os.fsdecode(file)
    unl =  Path(filename).resolve().stem
    with open("/home/flav/gossip/gossipGoSnt/clusterConfig/unl/"+filename, 'r') as fp:
        x = len(fp.readlines())
    aux = pd.DataFrame({'unl': [unl],'size': [x]})
    unls = pd.concat([unls, aux])
    

unls.head(10)

      unl  size
0    blue    17
0  fucsia    16
0  orange    16
0     red    16
0    pink    16
0   green    16
0   cyano    16
0  yellow    18

In [24]:
unlSize = df.merge(unls, on='unl').drop(columns=['unl'])
unlSize = unlSize.rename(columns={'size':'unl'})

unlSize.head(24)

         node  unl
0      slotus   16
1     vsauber   16
2       brawn   16
3   scaterham   16
4      ligier   16
5      sauber   16
6     sligier   16
7   vbenetton   16
8    benetton   16
9    sminardi   16
10   stoleman   16
11    minardi   16
12    ssauber   16
13  sbenetton   16
14     vbrawn   16
15     sbrawn   17
16    vligier   17
17   vtoleman   17
18     vlotus   16
19   vminardi   16
20   caterham   16
21  vcaterham   18
22      lotus   18
23    toleman   18

In [30]:
#Validator
validatorsSize=unlSize
directory = os.fsencode('/home/flav/gossip/gossipGoSnt/clusterConfig/validator')

for file in os.listdir(directory):
    filename = os.fsdecode(file)
    validators =  Path(filename).resolve().stem
    with open("/home/flav/gossip/gossipGoSnt/clusterConfig/validator/"+filename, 'r') as fp:
        x = len(fp.readlines())
    validatorsSize.loc[validatorsSize['node'] == validators, 'validator'] = str(x)
    
validatorsSize.head(25)

         node  unl validator
0      slotus   16        16
1     vsauber   16        15
2       brawn   16        17
3   scaterham   16        16
4      ligier   16        16
5      sauber   16        16
6     sligier   16        16
7   vbenetton   16        16
8    benetton   16        16
9    sminardi   16        16
10   stoleman   16        16
11    minardi   16        16
12    ssauber   16        16
13  sbenetton   16        17
14     vbrawn   16        16
15     sbrawn   17        16
16    vligier   17        16
17   vtoleman   17        16
18     vlotus   16        18
19   vminardi   16        16
20   caterham   16        17
21  vcaterham   18        16
22      lotus   18        18
23    toleman   18        16

In [32]:
topology = validatorsSize

topology['general'] = 24
topology.to_csv('../Datasets/topologySize.csv', index=False)

In [34]:
data = pd.read_csv('../Datasets/topologySize.csv')#,header=0, index_col=0)
topologySize = pd.DataFrame(data)

topologySize.head(24)

         node  unl  validator  general
0      slotus   16         16       24
1     vsauber   16         15       24
2       brawn   16         17       24
3   scaterham   16         16       24
4      ligier   16         16       24
5      sauber   16         16       24
6     sligier   16         16       24
7   vbenetton   16         16       24
8    benetton   16         16       24
9    sminardi   16         16       24
10   stoleman   16         16       24
11    minardi   16         16       24
12    ssauber   16         16       24
13  sbenetton   16         17       24
14     vbrawn   16         16       24
15     sbrawn   17         16       24
16    vligier   17         16       24
17   vtoleman   17         16       24
18     vlotus   16         18       24
19   vminardi   16         16       24
20   caterham   16         17       24
21  vcaterham   18         16       24
22      lotus   18         18       24
23    toleman   18         16       24

In [84]:
data = pd.read_csv('../Datasets/1node/raw/consolidated5s_'+node+'.csv',header=0, index_col=0)
raw = pd.DataFrame(data)

raw.head(100)

,experiment,propagationTime,messageOverhead,messageReceived,graft,prune,iwant,ihave,messageBandwidth,totalBandwidth,...,gossipBandwidth,topology,d,dlo,dhi,dscore,dlazy,dout,gossipFactor,interval
0,390,292.000000,345.0,56.0,0.0,0.0,0.0,0.0,11.2,159.4,...,79.2,unl,8,6,12,4,8,2,0.25,1.0
1,390,373.333333,466.0,73.0,0.0,0.0,0.0,64.0,14.6,220.8,...,113.0,unl,8,6,12,4,8,2,0.25,1.0
2,390,649.083333,781.0,124.0,0.0,0.0,0.0,64.0,24.8,366.2,...,185.2,unl,8,6,12,4,8,2,0.25,1.0
3,390,337.666667,734.0,111.0,0.0,0.0,0.0,32.0,22.2,340.2,...,171.2,unl,8,6,12,4,8,2,0.25,1.0
4,390,234.000000,554.0,91.0,0.0,0.0,0.0,64.0,18.2,262.2,...,133.2,unl,8,6,12,4,8,2,0.25,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,390,391.166667,776.0,125.0,0.0,0.0,0.0,64.0,25.0,364.4,...,184.2,unl,8,6,12,4,8,2,0.25,1.0
96,390,430.333333,479.0,74.0,0.0,0.0,0.0,32.0,14.8,223.2,...,112.6,unl,8,6,12,4,8,2,0.25,1.0
97,390,404.166667,820.0,129.0,0.0,0.0,0.0,64.0,25.8,383.6,...,193.8,unl,8,6,12,4,8,2,0.25,1.0
98,390,690.333333,821.0,134.0,0.0,0.0,0.0,64.0,26.8,385.4,...,194.4,unl,8,6,12,4,8,2,0.25,1.0
99,390,409.833333,532.0,82.0,0.0,0.0,0.0,32.0,16.4,247.6,...,124.8,unl,8,6,12,4,8,2,0.25,1.0

In [86]:
nd = topologySize.loc[topologySize['node'] == node]
consolidated = raw.reset_index(drop=True)

#topics
consolidated['topics'] = 0
consolidated.loc[consolidated['topology'] == "validator", 'topics'] = int(nd['unl'])
consolidated.loc[consolidated['topology'] == 'unl', 'topics'] = 1
consolidated.loc[consolidated['topology'] == 'general', 'topics'] = 24

#topicsSize
consolidated['topicSize'] = 0
consolidated.loc[consolidated['topology'] == 'validator', 'topicSize'] = 1
consolidated.loc[consolidated['topology'] == 'unl', 'topicSize'] = int(nd['unl'])
consolidated.loc[consolidated['topology'] == 'general', 'topicSize'] = 1


consolidated.head(10)

/tmp/ipykernel_266576/4175170256.py:6: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  consolidated.loc[consolidated['topology'] == "validator", 'topics'] = int(nd['unl'])
/tmp/ipykernel_266576/4175170256.py:13: FutureWarning: Calling int on a single element Series is deprecated and will raise a TypeError in the future. Use int(ser.iloc[0]) instead
  consolidated.loc[consolidated['topology'] == 'unl', 'topicSize'] = int(nd['unl'])

,experiment,propagationTime,messageOverhead,messageReceived,graft,prune,iwant,ihave,messageBandwidth,totalBandwidth,...,d,dlo,dhi,dscore,dlazy,dout,gossipFactor,interval,topics,topicSize
0,390,292.000000,345.0,56.0,0.0,0.0,0.0,0.0,11.2,159.4,...,8,6,12,4,8,2,0.25,1.0,1,18
1,390,373.333333,466.0,73.0,0.0,0.0,0.0,64.0,14.6,220.8,...,8,6,12,4,8,2,0.25,1.0,1,18
2,390,649.083333,781.0,124.0,0.0,0.0,0.0,64.0,24.8,366.2,...,8,6,12,4,8,2,0.25,1.0,1,18
3,390,337.666667,734.0,111.0,0.0,0.0,0.0,32.0,22.2,340.2,...,8,6,12,4,8,2,0.25,1.0,1,18
4,390,234.000000,554.0,91.0,0.0,0.0,0.0,64.0,18.2,262.2,...,8,6,12,4,8,2,0.25,1.0,1,18
5,390,381.500000,750.0,124.0,0.0,0.0,0.0,64.0,24.8,353.6,...,8,6,12,4,8,2,0.25,1.0,1,18
6,390,328.166667,671.0,105.0,0.0,0.0,0.0,32.0,21.0,312.6,...,8,6,12,4,8,2,0.25,1.0,1,18
7,390,349.722222,653.0,113.0,0.0,0.0,0.0,64.0,22.6,309.2,...,8,6,12,4,8,2,0.25,1.0,1,18
8,390,581.083333,792.0,127.0,0.0,0.0,0.0,64.0,25.4,371.6,...,8,6,12,4,8,2,0.25,1.0,1,18
9,390,473.166667,598.0,91.0,0.0,0.0,0.0,32.0,18.2,277.8,...,8,6,12,4,8,2,0.25,1.0,1,18

In [89]:
consolidated.to_csv('../Datasets/1node/consolidated5s_'+node+'.csv')