In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import gc

import os

In [7]:
#Nodes list with subscribed topic


import pandas as pd

data = {'node': [
                'slotus',
                'scaterham',
                'sligier',
                'sminardi',
                'ssauber',
                'sbrawn',
                'stoleman',
                'sbenetton',
                'vlotus',
                'vcaterham',
                'vligier',
                'vminardi',
                'vsauber',
                'vbrawn',
                'vtoleman',
                'vbenetton',
                'lotus',
                'caterham',
                'ligier',
                'minardi',
                'sauber',
                'brawn',
                'toleman',
                'benetton'],
        'unl': [
                'red',
                'fucsia',
                'pink',
                'cyano',
                'green',
                'blue',
                'cyano',
                'green',
                'orange',
                'yellow',
                'blue',
                'orange',
                'red',
                'green',
                'blue',
                'pink',
                'yellow',
                'orange',
                'fucsia',
                'cyano',
                'fucsia',
                'red',
                'yellow',
                'pink',
                ]
        }

df = pd.DataFrame(data)
df.head(10)

        node     unl
0     slotus     red
1  scaterham  fucsia
2    sligier    pink
3   sminardi   cyano
4    ssauber   green
5     sbrawn    blue
6   stoleman   cyano
7  sbenetton   green
8     vlotus  orange
9  vcaterham  yellow